#<<<<<<< HEAD
# local package install
-e .

# third party packages
dvc
dvc[gdrive]
sklearn
pandas
pytest
tox
flake8
flask
gunicorn
PyYAML
#=======
dvc
dvc[gdrive]
sklearn
#>>>>>>> 831c59e58ae32dcea4ff4a89bb665c201ef7dbd8
